<form [formGroup]="sprintform" (ngSubmit)="onSubmit()" class="form">
  <h3>Sprint calculator</h3>
  <mat-form-field class="field">
    <mat-label>Sprint points</mat-label>
    <input type="number" matInput formControlName="sprintpoint" id="sprintpoint" />
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" >
    Auto select stories
  </button>
</form>


<div class="container" *ngIf="showSelectedStories">
    <div class="cards">
      <mat-card class="example-card" *ngFor="let story of selectedStories">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>{{ story.storyName }}</mat-card-title>
            <mat-card-subtitle>Story Point: {{ story.storyPoint }}</mat-card-subtitle>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          {{ story.longText }}
        </mat-card-content>
      </mat-card>
    </div>
  </div>

<div class="button-group">
  <button mat-raised-button color="primary" type="submit" (click)="clearStory(id)">Clear Stories</button>
  <br />
  <button mat-raised-button color="primary" type="submit">Clear Sprints</button>
</div>
